<chat-box class="chat-box">
  <form class="chat-box__intro" data-intro-form>
    <input type="text" name="username" placeholder="Pick Your Username" autocomplete="off" />
    <button type="submit">Enter</button>
  </form>

  <div class="chat-box__messages-holder hide" data-chat>
    <div class="chat-box__messages-box" data-message-box>
      <div class="chat-box__messages" data-messages>
        <!-- Messaged Go Here  -->
      </div>
    </div>
    <form data-message-form>
      <input type="text" name="message" placeholder="Say something!" autocomplete="off" data-message-input />
      <button type="submit">Send</button>
    </form>
  </div>
</chat-box>

<script>
  ;(() => {
    if (
      typeof window.customElements.get('chat-box') !== 'undefined' ||
      typeof window.customElements.get('message-bubble') !== 'undefined'
    ) { return }

    const socket = window.socket

    window.customElements.define('chat-box', class extends HTMLElement {
      constructor() {
        super()

        this.messageForm = this.querySelector('[data-message-form]')
        this.introForm = this.querySelector('[data-intro-form]')
        this.messagesBox = this.querySelector('[data-messages]')
        this.username = 'New User'
        this.userID = 0

        if (!this.messageForm || !this.introForm) { return }

        socket.on('connectionReturn', (socketConnectionID) => {
          this.userID = socketConnectionID
          this.initIntroForm()
          this.initMessageForm()
          this.initMessagesBox()
        })
      }

      initIntroForm () {
        this.introForm.addEventListener('submit', (event) => {
          event.preventDefault()
          const formData = new FormData(this.introForm)
          const usernameValue = formData.get('username')
          if (!usernameValue) { return }

          this.username = usernameValue
          this.introForm.classList.add('hide')
          this.querySelector('[data-chat]').classList.remove('hide')

          socket.emit('messageSent', {
            message: `${this.username} has entered the chat 👋`,
            username: this.username,
            userID: this.userID,
            type: 'welcome'
          })
        })
      }

      initMessageForm() {
        this.messageForm.addEventListener('submit', (event) => {
          event.preventDefault()
          const messageInput = this.messageForm.querySelector('[data-message-input]')
          if (!messageInput || messageInput.value.length === 0) { return }

          socket.emit('messageSent', {
            message: messageInput.value,
            username: this.username,
            userID: this.userID,
            type: 'basic'
          })

          messageInput.value = ''
        })
      }

      initMessagesBox () {
        socket.on('updateMessages', (messageData) => {
          const newMessage =  document.createElement('message-bubble')

          newMessage.innerHTML = `
            <p>${messageData.message}</p>
            <span>${messageData.username}</span>
          `
          newMessage.classList.add('message')
          newMessage.classList.add(`message--${messageData.type}`)
          newMessage.classList.toggle('other-send', messageData.userID !== this.userID)

          this.messagesBox.append(newMessage)

          setTimeout(() => {
            const messageBox = document.querySelector('[data-message-box]')
            messageBox.scrollTo(0, messageBox.scrollHeight * 100)
          }, 200)
        })
      }
    })

    window.customElements.define('message-bubble', class extends HTMLElement {
      constructor() {
        super()
        this.createTime = new Date().getTime()
        this.visibleDuration = 60 * 1000 * 1 // 1 Min
        this.initBubble()
      }

      initBubble() {
        const bubbleInterval = setInterval(() => {
          const nowTime = new Date().getTime()
          const endTime = this.createTime + this.visibleDuration

          const opacityPercntage = (endTime - nowTime) / this.visibleDuration
          this.style.opacity = `${opacityPercntage}`

          if (nowTime < endTime) { return }

          clearInterval(bubbleInterval)
          this.remove()
        }, 100)
      }
    })
  })()
</script>